<!-- Footer -->
<nav class="navbar bg-light navbar-light shadow-sm fixed-bottom">
  <div class="container-fluid d-flex justity-space-between">
    <a class="navbar-brand" href="#">
      <img src="assets/img/amplelogic-logo_Black.png" alt="Logo" width="100" class="d-inline-block ">
    </a>
    <div style="font-size: 11px;" class="text-center text-muted">
      Copyright @ 2010 - 2023 Amplelogic | All Rights Reserved.
    </div>
    <div style="font-size: 11px;" class="text-center text-muted">
      v3.6.0.
    </div>
  </div>
</nav>