<nav class="navbar navbar-expand-md bg-white shadow-sm fixed-top ">
  <a href="#" class="sidebar-toggler flex-shrink-0 mx-3">
      <img src="../../assets/img/amplelogic-logo_Black.png" width="130px" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav collapse navbar-collapse " id="navbarSupportedContent">
      <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
              <i class="bi bi-person-check-fill me-lg-2"></i>
              <span class="d-md-none d-lg-inline-flex">Organization Structure</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item text-center">Testing</a>
          </div>
      </div>
      <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
              <i class="bi bi-wrench-adjustable-circle me-lg-2"></i>
              <span class="d-md-none d-lg-inline-flex">Configurations</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item text-center">Coming Soon</a>
          </div>
      </div>
      <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
              <i class="bi bi-file-earmark-person me-lg-2"></i>
              <span class="d-md-none d-lg-inline-flex">Reports</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item text-center">Testing</a>
          </div>
      </div>
      <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
              <i class="bi bi-gear me-lg-2"></i>
              <span class="d-md-none d-lg-inline-flex">ETL</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item text-center">Coming Soon</a>
          </div>
      </div>
  </div>
  <div class="navbar-nav ms-auto">
      <a href="#" class="mt-3 mx-0 d-none d-lg-inline-flex">
          <i class="bi bi-bell-fill me-lg-2"></i>
      </a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <img class="rounded-circle me-lg-2" src="./assets/img/user.jpg" alt="" style="width: 35px; height: 35px;">
        </a>
        <div class="dropdown-menu dropdown-menu-end border-primary border-2 rounded-0 rounded-bottom m-0">
          <a [routerLink]="['']" class="dropdown-item">Log Out</a>
        </div>
      </div>
  </div>
</nav>

