




/* .content .navbar .navbar-nav .nav-link {
  margin-left: 25px;
  padding: 12px 0;
  color: var(--dark);
  outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
} */


.navbar .navbar-nav .nav-link i {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #0083c5;
  color: #fff;
  border-radius: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}


.navbar .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(-180deg);
  transition: .5s;
}

@media (max-width: 575.98px) {
  .content .navbar .navbar-nav .nav-link {
      margin-left: 15px;
  }
}




/*** Testimonial ***/
#progressbar {
  transition: 2s;
}

.nav-item > a > span{
  font-size: 12px;
}